<html>
<head><title>Just Search,Powered By Ezio</title></head>
<body>
<div style='text-align:center'>Welcome to Scanport Tools</div>
<p>Please make sure that the destination Host is reached first!</p>
<p>Please fill all the blanks below</p>
<form action="/navigation/scanresult/" method="get">
  <p>IP Adress<input type="text" name="ipaddress" /></p>
  <p>StartPort<input type="text" name="startport" /></p>
  <p>EndPort    <input type="text" name="endport" /></p>
  <input type="submit" value="OK" />
</form>
</body>
</html>
